.SearchResultItemRoot {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  width: 400px;
}

.PackageInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}